/* Color Theme */
:root{
    --main-bg: #fefefe;
    --high-bg: #fff;
    --text: #000;
    --sc-text: #616161;
    --shadow: lightgray;
    --shadow2: #838383;
    --hover: whitesmoke;
    --border: #484848;
    --focus: #272727;
}
body.dark{
    --main-bg: #333;
    --high-bg: #232323;
    --text: #fff;
    --sc-text: #888;
    --shadow: #2A2A2A;
    --hover: #3C3C3C;
    --border: #3C3C3C;
    --focus: #3C3C3C;
}

/* Main */
*{
    font-family: Inter;
    color: var(--text);
}
body{
    margin: 0px;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}
header{
    height: 50px;
    box-shadow: 2px 0px 5px var(--shadow);
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;    
    align-items: center;
    background-color: var(--high-bg);
    color: var(--text);
}
#main{
    flex: 1;
    background-color: var(--main-bg);
    overflow-x: hidden;
}
footer{
    width: 100dvw;
    display: flex;
    justify-content: center;
    background-color: var(--main-bg);
}
/* Header & Footer */
footer p{
    color: gray;
    font-size: 12px;
}
h4, h3{
    margin: 0px;
}
header i{
    font-size: 20px;
}

/* Dark/Light Mode */
#dark{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 40px;
    height: 40px;
    background: none;
    border: 0;
}
