/* Search */
#main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#search{
    background-color: white;
    border-radius: 6px;
    width: min(400px, 85%);
    min-height: 40px;
    box-shadow: 2px 2px 4px lightgrey;
    padding: 4px;
    display: flex;
    padding-right: 8px;
    padding-left: 8px;
    gap: 2px;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}
#search input{
    width: 85%;
    height: 70%;
    border: none;
    outline: none;
    transition: all 0.2s;
    padding-left: 8px;
    padding-right: 8px;
}
#search input:hover{
    transition: all 0.2s;
    border-bottom: black 0.8px solid;
}
#search button{
    width: 8%;
    background: none;
    border: none;
}

/* Browse */
#browse{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 24px;
}
.recipe{
    width: min(100%, 250px);
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 8px;
}
.recipe img{
    width: 120px;
    height: 120px;
    background-color: lightgray;
    object-fit: cover;
    border-radius: 4px;
}
.recipe .title{
    font-size: 1rem;
    line-height: 1.3rem;
    color: #000;
}
.recipe p{
    margin: 0px;
    color: #666;
    font-size: 0.8rem;
}